@page
@{
    ViewData["Title"] = "Feature Disabled";
}

<h2 class="mb-3">@ViewData["Title"]</h2>
<p class="fw-bold fs-4 mb-0">This feature is disabled for the demo.</p>
<p class="fw-bold fs-4 mb-0">Please use the demo accounts.</p>
