@page "/cashier_console"
@attribute [Authorize(Policy = "CashierOnly")]


<h2 class="mb-3">Cashier Console</h2>
<h5 class="mb-3"><b>User: </b>@cashierName</h5>
@if (!string.IsNullOrWhiteSpace(cashierName))
{
    <div class="row">
        <div class="col">
            <SelectProductForSellingComponent OnProductSelected="SelectProduct"></SelectProductForSellingComponent>
            <SellProductComponent 
                CashierName="@cashierName"
                SelectedProduct="selectedProduct"
                OnProductSold="SellProduct">
            </SellProductComponent>
        </div>
        <div class="col">
            <TodayTransactionsComponent @ref="transactionComponent"></TodayTransactionsComponent>
        </div>
    </div>
}

@code {
    private TodayTransactionsComponent transactionComponent;

    private Product selectedProduct;
    private string cashierName;

    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; }

    private AuthenticationState authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await _authState;
        cashierName = authState.User.Identity.Name;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            transactionComponent.LoadTransactions(cashierName);
        }
    }

    private void SelectProduct(Product product)
    {
        selectedProduct = product;
    }

    private void SellProduct(Product product)
    {
        transactionComponent.LoadTransactions(cashierName);
    }

}
